In [49]:
years = list(range(1991, 2024))

In [50]:
url_start = 'https://www.basketball-reference.com/awards/awards_{}.html'

In [6]:
import requests

for year in years:
    url = url_start.format(year)
    data = requests.get(url)
    with open('mvp/{}.html'.format(year), 'w+') as f:
        f.write(data.text)

In [82]:
from bs4 import BeautifulSoup

In [8]:
with open('mvp/1991.html') as f:
    page = f.read()

In [52]:
soup = BeautifulSoup(page, 'html.parser')

In [10]:
soup.find('tr', class_='over_header').decompose()

In [11]:
mvp_table = soup.find(id='mvp')

In [53]:
import pandas as pd
from io import StringIO

In [13]:
mvp_1991 = pd.read_html(StringIO(str(mvp_table)))[0]

In [ ]:
mvp_1991

In [16]:
dfs = []
for year in years:
    with open('mvp/{}.html'.format(year)) as f:
        page = f.read()
    soup = BeautifulSoup(page, 'html.parser')
    soup.find('tr', class_='over_header').decompose()
    mvp_table = soup.find(id='mvp')
    mvp = pd.read_html(StringIO(str(mvp_table)))[0]
    mvp['Year'] = year
    
    dfs.append(mvp)

In [17]:
mvps = pd.concat(dfs)

In [18]:
mvps.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Year
0,1,Michael Jordan,27,CHI,77.0,891.0,960,0.928,82,37.0,...,6.0,5.5,2.7,1.0,0.539,0.312,0.851,20.3,0.321,1991
1,2,Magic Johnson,31,LAL,10.0,497.0,960,0.518,79,37.1,...,7.0,12.5,1.3,0.2,0.477,0.320,0.906,15.4,0.251,1991
2,3,David Robinson,25,SAS,6.0,476.0,960,0.496,82,37.7,...,13.0,2.5,1.5,3.9,0.552,0.143,0.762,17.0,0.264,1991
3,4,Charles Barkley,27,PHI,2.0,222.0,960,0.231,67,37.3,...,10.1,4.2,1.6,0.5,0.570,0.284,0.722,13.4,0.258,1991
4,5,Karl Malone,27,UTA,0.0,142.0,960,0.148,82,40.3,...,11.8,3.3,1.1,1.0,0.527,0.286,0.770,15.5,0.225,1991

In [19]:
mvps.to_csv('mvps.csv')

In [39]:
player_stats_url = 'https://www.basketball-reference.com/leagues/NBA_{}_per_game.html'

In [ ]:
!pip3 install selenium

In [ ]:
!pip3 install webdriver-manager

In [40]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
service = Service('/Users/vedantamin/Desktop/nba_project/chromedriver')
options = webdriver.ChromeOptions()
driver = webdriver.Chrome(service=service, options=options)

In [41]:
for year in years:
    url = player_stats_url.format(year)

    driver.get(url)
    driver.execute_script('window.scrollTo(1, 1000)')
    time.sleep(2)
    
    html = driver.page_source
    with open('player/{}.html'.format(year), 'w+') as f:
        f.write(html)

In [67]:
dfs = []
for year in years:
    with open('player/{}.html'.format(year)) as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    soup.find('tr', class_='thead').decompose()
    player_table = soup.find_all(id='per_game_stats')[0]
    player_df = pd.read_html(StringIO(str(player_table)))[0]
    player_df['Year'] = year
    dfs.append(player_df)

In [68]:
players = pd.concat(dfs)

In [70]:
players.to_csv('players.csv')

In [75]:
team_stats_url = 'https://www.basketball-reference.com/leagues/NBA_{}_standings.html'

In [76]:
for year in years:
    url = team_stats_url.format(year)
    
    data = requests.get(url)
    with open('team/{}.html'.format(year), 'w+') as f:
            f.write(data.text)

In [92]:
dfs = []
for year in years:
    with open('team/{}.html'.format(year)) as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    soup.find('tr', class_='thead').decompose()
    e_table = soup.find_all(id='divs_standings_E')[0]
    e_df = pd.read_html(StringIO(str(e_table)))[0]
    e_df['Year'] = year
    e_df['Team'] = e_df['Eastern Conference']
    del e_df['Eastern Conference']
    dfs.append(e_df)
    
    w_table = soup.find_all(id='divs_standings_W')[0]
    w_df = pd.read_html(StringIO(str(w_table)))[0]
    w_df['Year'] = year
    w_df['Team'] = w_df['Western Conference']
    del w_df['Western Conference']
    dfs.append(w_df)

In [93]:
teams = pd.concat(dfs)

In [94]:
teams

     W   L  W/L%    GB   PS/G   PA/G    SRS  Year                   Team
0   56  26  .683     â€”  111.5  105.7   5.22  1991        Boston Celtics*
1   44  38  .537  12.0  105.4  105.6  -0.39  1991    Philadelphia 76ers*
2   39  43  .476  17.0  103.1  103.3  -0.43  1991       New York Knicks*
3   30  52  .366  26.0  101.4  106.4  -4.84  1991     Washington Bullets
4   26  56  .317  30.0  102.9  107.5  -4.53  1991        New Jersey Nets
..  ..  ..   ...   ...    ...    ...    ...   ...                    ...
13  51  31  .622     â€”  116.9  113.0   3.60  2023     Memphis Grizzlies*
14  42  40  .512   9.0  114.4  112.5   1.63  2023  New Orleans Pelicans*
15  38  44  .463  13.0  114.2  114.1  -0.14  2023       Dallas Mavericks
16  22  60  .268  29.0  110.7  118.6  -7.62  2023        Houston Rockets
17  22  60  .268  29.0  113.0  123.1  -9.82  2023      San Antonio Spurs

[1103 rows x 9 columns]

In [95]:
teams.to_csv('teams.csv')